.icon-small {
    height: 40px;
}

.icon-emblem {
    height: 60px;
}

.sidebar {
    padding-right: 0px;
    padding-left: 0px;
    width: 15%;
    border-right: 1px solid #dee2e6;
}

.content {
    padding-right: 0px;
    padding-left: 0px;
    width: 85%;
    background-color: grey;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.filter-container .form-group {
    margin-bottom: 0;
}

.card-padding{
    padding: 10px;
}