<!-- Start of Footer -->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top text-bg-dark">
    <div class="container">
        <hr>
        <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-lg-start">
            <p class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">Gonçalo Sousa</p>
        </div>
        <div class="text-end">
            <p class="text-white">MEI</p>
        </div>
    </div>
</footer>    
<!-- End of Footer -->