<!-- Start of Header -->
<header class="navbar p-3 text-bg-dark border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" href="/">
                <img src="./static/resources/ipt.png" alt="Emblema do IPT" class="img-fluid icon-emblem">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
            </ul>
        </div>
        <div class="text-end">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a class="nav-link text-white" href="https://github.com/Sousa1909/CurrentMonitor" >
                        <img src="./static/resources/github.jpg" alt="GitHub" class="img-fluid icon-small">
                        GitHub
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="/logout">
                        <img src="./static/resources/logout.png" alt="Logout" class="img-fluid icon-small">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- End of Header -->